{% extends "layout.html" %}
{% block title %}
    Personal Projects
{% endblock %}

{% block main %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-10 col-md-10 mx-auto">
        <h1 class="fw-light">Personal Projects</h1>
        <p class="text-muted">
            Below you can find some of the machine learning and data science projects that I've undertaken in my spare time.
        </p>
      </div>
    </div>
</section>
<section class="sample-text-area bg-light" >
    <div class="container">
        <div class="col-lg-10 col-md-10 col-sm-10 mx-auto pt-3 pb-3">
            <div class="row post-preview">
                <div class="col-9">
                    <h4 class="post-title">
                        <a href="https://github.com/mxury/crypto" target="_blank" >
                            Predicting crypto prices using a hybdrid stacked model consisting of RNNs and
                            gradient boosted decision trees
                        </a>
                    </h4>
                    <p>
                        Cryptocurrencies have been a new and exciting asset class that has taken the world by storm especially in the
                        last few years. In this project I undertook to use machine learning to predict the price of Bitcoin and Etherum. To
                        do this I utilised a hybrid stacked model, that combined feature and target transforming models. To extrapolate the trend
                        I used a LSTM network built using the Keras library, that was trained on features averaged over a large time window. While an XGboost model
                        was trained on the residuals and features that encapsulated shorter time movements. In the end I was able to beat my baseline which predicated the price at time t+1
                        to be equal to the price at time t.
                    </p>
                    <p>
                        Currently working on utilising the Google Cloud platform in order to update the model every few days with new data,
                        and retrain if necessary.
                    </p>
                    <p class="post-meta" align="right">
                        <em>
                            Sklearn, Keras, XGboost, Matplotlib, Google Cloud Platform
                        </em>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 d-flex justify-content-center img-fluid align-self-center">
                    <a href="https://github.com/mxury/crypto" target="_blank" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" height="150" fill="#1c452e" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row post-preview">
                <div class="col-9">
                    <h4 class="post-title">
                        <a href="/dash" target="" >
                            Visualisation of Boris Bike journeys in London
                        </a>
                    </h4>
                    <p>
                        Santander bikes (or commonly known as Boris bikes) have become a permanent feature in the life of Londoners.
                        Through the use of the Transport of London API and the python visualisation library Dash (built on Plotly) I've
                        created an interactive dashboard where one can explore the most popular docking stations and the larger cycling trends.
                        The code for the dash application can be found in my website git repo (see below).
                    </p>
                    <p class="post-meta" align="right">
                        <em>
                            Pandas, Plotly, Dash, Bootstrap,
                        </em>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 d-flex justify-content-center img-fluid align-self-center">
                    <a href="/dash" target="" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" height="150" fill="#1c452e" class="bi bi-bicycle" viewBox="0 0 16 16">
                            <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row post-preview">
                <div class="col-9">
                    <h4 class="post-title">
                        <a href="https://github.com/mxury/flask_dash_website" target="_blank">
                            Personal website built using Flask, Dash and Dash-bootstrap-components
                        </a>
                    </h4>
                    <p>
                        Using the popular Bootstrap toolkit and the python webframework Flask I was able to build my own website.
                        There are a few things that I would like to improve, like migrating the boris bike data to an SQL database for faster access.
                    </p>
                    <p class="post-meta" align="right">
                        <em>
                            Flask, HTML, CSS, Bootstrap, Dash
                        </em>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 d-flex justify-content-center img-fluid align-self-center">
                    <a href="https://github.com/mxury/flask_dash_website" target="_blank" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" height="150" fill="#1c452e" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row post-preview">
                <div class="col-9">
                    <h4 class="post-title">
                        Using NLP for sentiment analysis of UK politics articles
                    </h4>
                    <p>
                        Currently under development!
                    </p>
                    <p class="post-meta" align="right">
                        <em>
                            NLP, Tensorflow
                        </em>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 d-flex justify-content-center img-fluid align-self-center">
                    <a href="#" target="_blank" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" height="150" fill="#1c452e" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row post-preview">
                <div class="col-9">
                    <h4 class="post-title">
                        <a href="https://github.com/mxury/gan_mnist" target="_blank">
                            Simple GAN for the MNIST data
                        </a>
                    </h4>
                    <p>
                        Used a Generative Adverserial Network built using the Keras library and trained on the MNIST dataset,
                        to produce new "fake" images of handwritten digits.
                    </p>
                    <p class="post-meta" align="right">
                        <em>
                            Keras, GANs
                        </em>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3 d-flex justify-content-center img-fluid align-self-center">
                    <a href="https://github.com/mxury/gan_mnist" target="_blank" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" height="150" fill="#1c452e" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}